@media screen and (max-width: 576px) {
    
    /* nav responsive style start from here */
    body{

        padding:10px;
    }
    .nav{
        padding: 0;
justify-content: space-around;
    }
    
    .nav .hide_for_mobile{
        display:none;
    }

    .nav .hide_for_dekstop{
        display: block;
        font-size: 20px;
    }

    /* banner responsive */
    .banner{
        width: calc(100% - 20px);
    /* width: calc(100% - 20px); */
    padding: 10px;
height: auto;
background-size: cover;
background-position: center;
border-radius: 20px;
    } 

.banner h1{
    font-size: 2.3rem;
    color:var(--bg-white-color);
}

.banner .banner_inputs_div{
    display: flex;
    flex-direction: column;
}


.banner input,select{
 margin-bottom:15px ;
    width: auto;
}

/* nav responsive end here */

/* main tag responsive style start from here */

.section2_popular_tour{
    height: 100%;
    flex-direction: column;
    margin-top: 30px;
}

.section2_popular_tour .content_div_sec2{
    height: 100%;
    width: 90%;
}


/* sec 3 grid section start */

.grid_rows{
    display: grid;
    grid-template-columns:1fr;
padding: 10px;
    
}

.grid_rows h3{
    left: 40%;
    top:40%
}

.card_grid{
    border:2px solid red;
display: flex;
/* flex-direction: column; */
flex-wrap: wrap;
justify-content: center;
margin: 10px;
gap:10px;
}


.img_box{
    background:url("../Images/grp1.png") no-repeat;
   background-size: cover;
    width: 100%;
    height: 650px;
}


.icons_div{
flex-wrap: wrap;
 
}
.item{
margin-right: 10px;
font-size: 30px;
}

.img_content_sec5{
    padding: 10px;
    width: calc(100% - 20px);
    height:auto;
   margin: 30px 10px;
   margin-top: 150px;
}


.sec6_video{
    /* width: 100%;
    height: auto;
    border:2px solid navy;

    display: flex; */
    flex-direction: column;
    /* justify-content: center; */
}

.sec6_video .sec6_content{
width:100%;
margin-right:0px;
padding:10px;
}


.sec6_content ul{
padding-left: 0px;
}

.iframe{
    border-radius: 20px;
    width: 100%;
height: 280px;
}


.form_sec7{
    flex-direction: column;
    align-items: center;
    width:100%;
  padding: 20px 0;
}

form{
    width: 90%;
    margin:0;
    margin-bottom: 20px;
}

.inputs{
padding: 0px;
}


input,[type="submit"]{
    width: 90%;
   font-size: 18px;
}

.form_img_div{
    width: 100%;
}

/* main tag responsive style end here */


}
