/* font family linkup */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* varaible declaretion for easiest css */
:root{
    --primary-color:#FF5400;
    --secondary-color:blue;
    --p_tag_color:#858586;
    --bg-white-color:#FFFFFF;
}


*{
  font-family: "Mulish", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* shared styles */
.nav .icon_side_div h2,span,h2{
    font-weight: 700;
}
.spans{
    color:var(--primary-color);
}

p{
    color:var(--p_tag_color);
font-size: 1rem;
}

.primary_btn{
    background-color:var(--primary-color);
    color:var(--bg-white-color);
    padding: 15px 50px;
    border-radius: 10px;
    border:0;
}

/* share style end */

/* header style start from here */
header{
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin:0 auto;
}

.nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

/*  for mobile */
.nav .icon_side_div{

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.nav .icon_side_div img{
 width: 15%;
}

.nav .hide_for_dekstop{
    display: none;

}

/* for mobile */
.nav ul{
    display: flex;
}

.nav ul li{
    list-style: none;
    padding: 20px;

}

.nav ul li a{
    margin-right:10px;
    text-decoration:none;
    color:black;
    position: relative;
}

.nav ul li a::after{
content:"";
position: absolute;
left:0;
right: 0;
bottom:0;

width: 0;
height: 2px;
background-color: red;
}

.nav ul li a:hover::after{
width: 100%;
transition:width 0.6s ease ;
transform-origin: left to right;
}

.nav ul li .active{
color:var(--primary-color);
}

.banner{
    width: 100%;
    height: 500px;
text-align: center;

background:url(../Images/banner_cover.png)no-repeat;
background-size: cover;
background-position-x: 100%;
align-content: center;
}

.banner input,select{
    padding: 10px;
    border-radius: 10px;
    border:0;
    width: 18%;
}



.banner h1{
    font-size: 3rem;
    color:var(--bg-white-color);
}

.banner p{
    color:var(--bg-white-color);
}
.banner .banner_inputs_div{
    background: rgba(255, 255, 255, 0.377);
    padding: 15px;
    margin: 10px 50px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
font-size: 2rem;
}




/* header style start end here */



/* main tag styles start from here */
main{
    width: 100%;
    height: 100%;
max-width: 1200px;
    margin:0 auto;
}

.section2_popular_tour{
    height: 500px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section2_popular_tour .content_div_sec2{
    padding: 10px;
   width: 50%;
   height: 90%;
}

.section2_popular_tour .content_div_sec2 ul{
    padding-left: 18px;
}
.section2_popular_tour .content_div_sec2 ul li{
    font-size: 1rem;
    color:#696969;
    text-align: left;
}
.content_div_sec2 ul, ul li,p,h2,button{
    margin-bottom: 20px;
}

.img_div_sec2{
  height: 100%;
}

.img_div_sec2 img{
    width: 100%;
    height: 100%;
}



.sec3_grid{
    width: 100%;
    height: 100%;

    text-align: center;
    margin-top: 50px;
}

.grid_rows{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    margin-bottom: 20px;
}
.grid_img_box{
    position: relative;
    color:white;
}
.grid_img_box img{
    width: 100%;
    height: 100%;

}

.grid_img_box h3{
    z-index: 2;
    position: absolute;
    left:45%;
    top:45%
}

.row1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.row2{
    display: grid;
    grid-template-columns:1fr 1.5fr 1fr;
}
.row3{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}


/* card style start from here */

.sec4_why_choose{
    text-align: center;
    padding-bottom: 50px;
}

.card_grid{
display: flex;
flex-wrap: wrap;
justify-content: center;
 
gap:10px;
}

.card_div{
text-align: left;
width: 523px;
padding: 30px;
background-color: #f9efe4a9;
border:2px solid #f3ddc577;
border-radius: 20px;
margin-bottom: 10px;
}

.card2{
    background-color: #b2e8f575;
    border: 2px solid #b2e8f5a9;
}
.card3{
background-color: #f3d1ab6c;
border:2px solid #f3d1ab;
}

/* section 5 style start from here */
.img_box{
    background:url("../Images/grp1.png") no-repeat;
   background-size: cover;
    width: 100%;
    height:auto;
}


.sec5_deal{
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    text-align: center;
}

.icons_div{
    display: flex;
    color:var(--primary-color)
}
.item{
    display:flex;
    align-items: center;
    margin-right: 30px;
    align-items: center;
font-size: 30px;
}

.item p, .item i{
    font-size: 1.25rem; 
    padding: 10px;
}

.img_box{
    display: flex;
 justify-content:end;
 margin-bottom: 15px;
 border-radius: 20px;
}

.img_content_sec5{
    background: rgba(255, 255, 255, 0.868);;
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 650px;
    height:300px;
   margin: 50px;
   margin-top: 80px;
   border-radius: 20px;
   border:3px solid white;
}

.img_content_sec5 button{
    margin-top: 20px;
    width: 150px;
   padding: 15px 30px;
}


.deal_img2{
    background:url("../Images/grp2.png") no-repeat;
   background-size: cover;
    width: 100%;
    height:auto;
    border:2px solid green;
}

.deal_img2 {
    display: flex;
 justify-content:start;
}

.deal_img3{
    background:url("../Images/grp3.png") no-repeat;
   background-size: cover;
    width: 100%;
    height:auto;
}

.sec5_deal .sec5_btn_last{
margin-top: 20px;
}


/* section 6, video er section starting style from here */
.sec6_video{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
}
.sec6_video .sec6_content{
    width:45%;
margin-right: 20px;
}

.iframe{
    border-radius: 20px;
    width: 45%;
    height: 360px;
}


/* form section styles start from here */
.form_sec7{
    width:100%;
    height: 100%;
    margin:100px 0;
    display: flex;
    justify-content: space-between;
  padding: 20px 0;
}


form{
    justify-content: center;
    border:2px solid var(--primary-color);
    border-radius: 10px;
    width: 50%;
    margin:0px 20px;
padding: 10px;
}

form hr{
   color:black;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}
input,[type="submit"]{
    margin-bottom: 10px;
    padding: 20px;
    width: 80%;
   font-size: 20px;
    border-radius: 10px;
    border:0;
    background-color: rgb(231, 230, 230);
}

[type="submit"]{
    background-color: var(--primary-color);
}

input::placeholder{
    font-size: 20px;  
}

.form_img_div{
    width: 50%;
    position:relative;
}


.form_img_div img{
   width: 100%;
   height: 100%;
}

.travel_lugo_div{
 position: absolute;
 right: -8px;
 bottom:55px;
 transform: rotate(-40deg);

 background-color: var(--primary-color);
 columns: var(--bg-white-color);
 border-radius: 20px;
 border: 2px solid rgb(250, 252, 250);
 text-align: center;
 padding: 10px;
}
.travel_lugo_div h2,h3{
color:white;
margin: 0;
padding: 0;
}
/* main tag style end here */

 
/* footer tag styles start from here */
footer{
    width: 100%;
    height: 100%;
max-width: 1200px;
display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.footer_content{
    width: 600px;
    height: auto;
display: flex;
flex-direction: column;
text-align: center;
margin: 50px 0;
}

.footer_icons{
    display: flex;
    justify-content:center;
}

.footer_icons i{
    margin-right: 20px;
}
.tipu{
    color:black;
}
/* footer tag styles end   here */
